---
title:  SAGE Creative
layout: 'base.njk'
pagedecribe: Supporting and Amplifying GreatnCreating a Global Impact by amplifying African Creatives and brandsess
--- 

<section>
    <div class="container-large">
      <div class="padding-global">
         <div class="hero-text-col">
             <h1>ABOUT US</h1>
             <h2>ABOUT US</h2>
             <h2>ABOUT US</h2>
             
             
         </div>
         <img src="../assets/images/abouthero.webp" alt="" srcset="" class="about-img">
         <div class="cent">
          <p>
            At SAGE, we’re more than just an agency—we’re a partner in your artistic journey. Our mission is to empower music creatives by providing the tools, expertise, and support needed to achieve their fullest potential. With a deep understanding of the music industry and a passion for innovation, we offer tailored solutions that help artists navigate the complexities of the modern music landscape.
          </p>
         </div>
         
      </div>
    </div>
  </section>
  <section id="formed">
    <div class="container-large">
        <div class="padding-global">
          <div class="cen">
            <h2 class="cen">
              READY TO WORK WITH US
            </h2>
          </div>
          
          <div class="form-bg">
             <form action="">
              <fieldset>
                <label for="artist-name"> 
                    Artist Name
                    <input type="text" placeholder="Enter artist name" name="artist-name" required>
                </label>
                <label for="genre">
                    Genre
                    <input type="text" placeholder="Enter genre" name="genre">
                </label>
            </fieldset>
            <fieldset>
                <label for="URL">
                    Link to Music
                    <input type="text" placeholder="URL to music" name="URL">
                </label>
                <label for="how">
                     How did you hear about us?
                     <select name="how about" id="how about">
                      <option value="select">Select</option>
                      <option value="social media">social media</option>
                      <option value="event">event</option>
                      <option value="word on the street">word on the street</option>
                    </select>
                </label>
            </fieldset>
           
          <fieldset>
            <label for="email">
                Email Address
                <input type="email" placeholder="Enter email address" name="email">
            </label>
            <label for="name">
                Full Name
                <input type="text" placeholder="Enter full name" required name="name">
            </label>
        </fieldset>
           
          
                
                <input type="submit" value="Submit">
            
            
       
             </form>
          </div>
        </div>
    </div>
  </section>

<section>
  <div class="container-large">
    <div class="padding-global">
        <h2 class="ceb">FAQs</h2>
          <div class="faq-component">
              
              <div class="faq nan">
                   

                  <div class="abouts">
                      <div class="accordion-container">
                          <div class="about accordion-header">
                              <div>
                                  <h3>
                                    What services does SAGE offer?
                                  </h3>
                                  
                              </div>
                              
                             
                                  
                          </div>
                          <div class="accordion-content active-content">
                            <div class="accordion-text">
                              <h3>SAGE provides:</h3>
                              <ul>
                              <li>
                                <p><span>Branding & Identity Development: </span>Crafting a unique brand that resonates.</p>
                              </li>
                              <li>
                                <p><span>Strategic Marketing:</span> Boosting visibility through tailored digital strategies.</p>
                              </li>
                              <li>
                                <p><span>Career Management:</span> Handling contracts, tours, and more.</p>
                              </li>
                              <li>
                                <p><span>Global Reach:</span> Supporting African and international artists.</p>
                              </li>
                             </ul>
                            </div>
                            
                            
                           
                           
                            
                              
                           </div>
                      </div>
      
                      <div class="accordion-container">
                          <div class="about accordion-header">
                              <div>
                                  <h3>Who can benefit from SAGE’s services?</h3>
                              </div>
                              
                              
                                  
                          </div>
                          <div class="accordion-content">
                              <p class="accordion-text">
                                <span>SAGE is for music creatives at any stage of their career,</span> from emerging artists to established acts, across various genres and markets.
                              </p>
                           </div>
                      </div>
      
                      <div class="accordion-container">
                          <div class="about accordion-header">
                              <div>
                                  <h3>
                                    How does SAGE approach branding?
                                  </h3>
                              </div>
                              
                             
                                  
                          </div>
                          <div class="accordion-content">
                              <p class="accordion-text">
                                <span>We focus on creating a brand that reflects your unique identity.</span> From visuals to messaging, we ensure your brand connects with your audience and stands out.

                              </p>
                           </div>
                      </div>
      
                      <div class="accordion-container">
                          <div class="about accordion-header">
                              <div>
                                  <h3>What makes SAGE different?</h3>
                              </div>
                              
                              
                                  
                          </div>
                          <div class="accordion-content">
                              <div class="accordion-text">
                                <p><span>SAGE combines fresh ideas with industry expertise.</span> We offer personalized, hands-on service and a global perspective, bridging the gap between African and international markets</p>
                             </div>
                              
                           </div>
                      </div>
                      
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script> 

<script>
  let accordionHeaders = Array.from(document.querySelectorAll(".accordion-header"));

accordionHeaders.map((header) =>
header.addEventListener("click", () => {
 toggleAccordion(header);
})
);

function toggleAccordion(currentTarget) {
accordionHeaders.map((header) => {
 const accordionContent = header.nextElementSibling;
 const togglerBtn = header.firstElementChild;

 if (currentTarget !== header) {
   togglerBtn.classList.remove("active");
  
   accordionContent.classList.remove("active-content");
 } else {
   togglerBtn.classList.toggle("active");
  
   accordionContent.classList.toggle("active-content");
 }
});
}

</script>