---
title:  Expert Web3 writer, growth lead, and content manager
layout: 'base.njk'
pagedecribe: Victor Fawole | Expert Web3 writer, growth lead, and content manager. Boost visibility and credibility with compelling content.
--- 

<section>
    <div class="container-large">
      <div class="padding-global">
         <div class="about-hero">
             <h1>ABOUT US</h1>
             <p>
               At SAGE, we’re more than just an agency—we’re a partner in your artistic journey. Our mission is to empower music creatives by providing the tools, expertise, and support needed to achieve their fullest potential. With a deep understanding of the music industry and a passion for innovation, we offer tailored solutions that help artists navigate the complexities of the modern music landscape.
             </p>
             
         </div>
         <img src="../assets/images/abouthero.webp" alt="" srcset="" class="about-img">
      </div>
    </div>
  </section>
  <section id="formed">
    <div class="container-large">
        <div class="padding-global">
          <h2 class="titles">Ready to work with us</h2>
          <div class="grid-two">
            <div class="img">
              <img src="../assets/images/hell.webp" alt="" srcset="">
            </div>
            <div class="formed">
               <form action="">
                  <fieldset>
                      <label for="name">
                         <input type="text" name="name" id="">
                         Your Name
                      </label>
                      <label for="Orga">
                        <input type="text" name="org" id="">
                        Your organization
                     </label>
                  </fieldset>
                  <fieldset>
                    <label for="mail">
                       <input type="email" name="mail" id="">
                       Work Email
                    </label>
                    <label for="tel">
                      <input type="tel" name="tel" id="">
                      phone Number
                   </label>
                </fieldset>
                
                  
                    
                    <textarea cols="30" name="message" id=""></textarea>
                    Your Message
                <fieldset>
                   <input type="submit" value="Reach Out">
                </fieldset>
               </form>
            </div>
          </div>
        </div>
    </div>
</section>